---
export interface Props {
  title: string;
  id: string;
  description?: string;
  class?: string;
}

const { title, description, id, class: _class } = Astro.props as Props;
---

<section id={id} class:list={['hero', _class]}>
  <div class="hero-content flex-col md:flex-row gap-16">
    <div>
      <!-- {
        id === 'hero' ? (
          <div class="section-title mt-6 text-lg text-center font-bold">
            {title}
          </div>
        ) : (
          <div class="section-title mt-6 text-lg text-center font-bold">
            {title}
          </div>
        )
      } -->
      <!-- {
        description && (
          <p class="section-description text-base text-center py-7">
            {description}
          </p>
        )
      } -->
      <slot />
    </div>
    <!-- {
      id === 'hero' && (
        <img
          src="/aov-logo-transparent.png"
          alt="Advent Of Vue event logo"
          class="lg:block hidden max-w-sm"
        />
      )
    } -->
  </div>
</section>
