---
import ContentSection from './Base.astro';
---

<ContentSection id="credits" title="Credits">
  <div class="max-w-[min(65ch,85vw)] text-xl text-center my-7 leading-loose">
    <p class="mt-10">
      Logo by
      <a
        href="https://twitter.com/mrtrimble2"
        class="dark:text-primary text-blue-500 underline hover:text-primary-focus"
      >
        Ryan Trimble
      </a>
    </p>
    <p class="mt-3">
      Icons by
      <a
        href="https://fontawesome.com"
        class="dark:text-primary text-blue-500 underline hover:text-primary-focus"
      >
        Font Awesome
      </a>
    </p>
    <p class="mt-3">
      Built with
      <a
        href="https://astro.build"
        class="dark:text-primary text-blue-500 underline hover:text-primary-focus"
      >
        Astro
      </a>
    </p>
    <p class="mt-3">
      Hosted on
      <a
        href="https://render.com"
        class="dark:text-primary text-blue-500 underline hover:text-primary-focus"
      >
        Render
      </a>
    </p>
    <p class="mt-3">Special thanks to:</p>
    <p class="mt-3">
      <a
        href="https://twitter.com/heyAustinGil"
        class="dark:text-primary text-blue-500 underline hover:text-primary-focus"
      >
        Austin Gil
      </a>
      - logistical support
    </p>
    <p class="mt-3">
      <a
        href="https://twitter.com/BenDMyers"
        class="dark:text-primary text-blue-500 underline hover:text-primary-focus"
      >
        Ben Myers
      </a>
      - accessibility support
    </p>
  </div>
</ContentSection>
