---
import ContentSection from './Base.astro';
---

<ContentSection
  id="hero"
  class="home-hero min-h-screen"
  title="Advent of Vue"
  description="24 Vue coding challenges delivered one-per-day via email"
>
  <div
    class="flex md:flex-row flex-col justify-center md:items-start items-center gap-4"
  >
    <a href="#about" class="btn btn-primary">
      <i class="fa-solid fa-circle-info mr-2"></i>
      Find out more
    </a>
    <a href="#sign-up" class="btn btn-outline">
      <i class="fa-solid fa-user-plus mr-2"></i>
      Sign Up
    </a>
  </div>
</ContentSection>
