---
import ContentSection from './Base.astro';
---

<ContentSection
  id="hero"
  class="home-hero min-h-screen"
  title="Advent of Vue"
  description="24 Vue coding challenges delivered one-per-day via email"
>
  <div
    class="flex md:flex-row flex-col justify-center md:items-start items-center gap-4"
  >
    <a href="#about" class="btn btn-primary font-bold">Learn more</a>
    <a
      href="#sign-up"
      class="btn btn-outline focus:outline-2 focus:outline-primary"
    >
      Sign up
    </a>
  </div>
</ContentSection>
