---
import ContentSection from './Base.astro';
---

<ContentSection
  id="sign-up"
  class="bg-base-200 text-inherit"
  title="Sign Up"
  description="Join the mailing list to receive all the challenges!"
>
  <form
    class="flex flex-col gap-4 justify-center items-center mt-4 mb-7"
    action="https://www.getrevue.co/profile/AdventOfVue/add_subscriber"
    method="post"
    id="revue-form"
    name="revue-form"
  >
    <div class="form-control w-full max-w-xs">
      <label class="text-lg label justify-center" for="member_email">
        Email address
      </label>
      <input
        class="input input-bordered w-full max-w-xs"
        placeholder="iheartvue@example.com"
        type="email"
        name="member[email]"
        id="member_email"
        required
      />
    </div>
    <input
      class="btn focus:outline-2 focus:outline-primary"
      type="submit"
      name="member[subscribe]"
      id="member_submit"
      value="Submit"
    />
    <div class="my-5 text-base text-center">
      By subscribing, you agree with Revue's <a
        class="dark:text-primary text-blue-500 underline hover:text-primary-focus"
        target="_blank"
        href="https://www.getrevue.co/terms">Terms of Service</a
      > and <a
        class="dark:text-primary text-blue-500 underline hover:text-primary-focus"
        target="_blank"
        href="https://www.getrevue.co/privacy">Privacy Policy</a
      >.
    </div>
  </form>
</ContentSection>
