---
import '@fortawesome/fontawesome-free/css/all.min.css';
import '../styles/global.css';

import NavItems from '../components/NavItems.astro';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Advent of Vue</title>
  </head>
  <body>
    <div class="drawer">
      <input id="drawer-toggle" type="checkbox" class="drawer-toggle" />
      <div class="drawer-content flex flex-col">
        <div
          class="navbar bg-base-100 fixed top-0 w-full z-50 border-b-[1px] border-gray-600"
        >
          <div class="lg:flex-none flex-1">
            <a href="/" class="lg:mx-5 mx-0 btn btn-ghost normal-case text-xl">
              Advent of Vue
            </a>
          </div>
          <div class="lg:hidden flex-none">
            <label for="drawer-toggle" class="btn btn-square btn-ghost">
              <i class="fa-solid fa-bars text-xl"></i>
            </label>
          </div>
          <div class="lg:block flex-1 hidden">
            <NavItems class="w-full menu menu-horizontal" />
          </div>
        </div>
        <main>
          <slot />
        </main>
      </div>
      <div class="drawer-side">
        <label for="drawer-toggle" class="drawer-overlay"></label>
        <NavItems class="menu p-4 overflow-y-auto w-80 bg-base-100" />
      </div>
    </div>
  </body>
</html>
